Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [25]:
numbers = [12, 75, 150, 180, 145, 525, 50]
length = len(numbers)
for x in numbers:             
  for y in range(0,length):
    if x<numbers[y]:
      x=numbers[y]
    else: 
     continue
  continue
print(f"Greated value in the list is {x}")

Greated value in the list is 525

Q2. Print all the even number between (1, 12).

In [26]:
for x in range (1,12):
  if x%2==0:
    print(f"{x} is an even number")
  else:
    print(f"{x} is NOT an even number")

1 is NOT an even number
2 is an even number
3 is NOT an even number
4 is an even number
5 is NOT an even number
6 is an even number
7 is NOT an even number
8 is an even number
9 is NOT an even number
10 is an even number
11 is NOT an even number

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [38]:
num = int(input("Enter any number: "))
c=i=0
for i in range(1, num+1):
  c=c+i
print (f"Total sum is: {c}")

Enter any number: 4
Total sum is: 10

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

In [48]:
# Given:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i%5==0:
    if i>500:
      print(f"{i}")
      break
      if i>150:
       print(f"{i} number skipped")
       continue
  else:
    pass

525

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [52]:
list1 = [10, 20, 30, 40, 50]
print(f"Reverse order is {list1[::-1]}")

Reverse order is [50, 40, 30, 20, 10]