# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [12]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
i=0
total_cost =0
while i>=0:
  shop_flag = input("Do you want to shop Yes/No: ")
  if shop_flag == "Yes":
    user_input = input("What would you like to order: ")
    if user_input == "watch":
      total_cost = total_cost+5000
    elif user_input == "phone":
      total_cost = total_cost+10000
    elif user_input == "laptop":
      total_cost = total_cost+50000
    else:
      total_cost = total_cost+1000
  elif shop_flag=="No":
    break
  else:
    print("You have given wrong input")
  i=i+1
print(f"Total amount you spent on shopping is: {total_cost}")

Do you want to shop Yes/No: Yes
What would you like to order: laptop
Do you want to shop Yes/No: Yes
What would you like to order: phone
Do you want to shop Yes/No: No
Total amount you spent on shopping is: 60000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [5]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [11]:
a=(1,2,77,8,"Vaibhav",8,2,14,88.6,1,88.6,1,2)
l=len(a)
for x in range(0,l):
  print(f"{a[x]} is repeated {a.count(a[x])}")

1 is repeated 3
2 is repeated 3
77 is repeated 1
8 is repeated 2
Vaibhav is repeated 1
8 is repeated 2
2 is repeated 3
14 is repeated 1
88.6 is repeated 2
1 is repeated 3
88.6 is repeated 2
1 is repeated 3
2 is repeated 3

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [74]:
lis = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

G=[str(list(x)).replace(str(list(x)[2]),"500") for x in lis]
print(G)

['[10, 20, 500]', '[40, 50, 500]', '[70, 80, 500]']