### 1) Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

### NameError

In [4]:
Age = 18
print(age)

NameError: ignored

In [11]:
print("Vaibhav")

Vaibhav

###TypeError

In [12]:
print = "Vaibhav"
print("Vaibhav")

TypeError: ignored

In [13]:
del print

In [14]:
print("Vaibhav")

Vaibhav

### NameError Again within user input

In [15]:
name = input("Enter your name")
print(f"Your name is {Name}")

Enter your nameVaibhav

NameError: ignored

###Syntax error for data Types

In [16]:
int A

SyntaxError: ignored

In [17]:
float B

SyntaxError: ignored

### ValueError

In [22]:
a = int(input("Enter value for a "))
b = float(input("Enter value for b "))
c = int(input("Enter value for c "))
print(f"Sum of all numbers is {a+b+c}")

Enter value for a 2
Enter value for b 2.5
Enter value for c 2.5

ValueError: ignored

### ValueError during empty String to Integer conversion

In [25]:
A=""
print(f"data type before conversion: {type(A)}, value of A: {A}")
B=int(A) ## trying to convert string to integer
print(f"data type after conversion: {type(B)}, value of B: {B}")

data type before conversion: <class 'str'>, value of A:

ValueError: ignored

### 2) Take input A and B and print their sum, mul, div, square of the nos.

In [31]:
A=int(input("Enter value for A: "))
B=int(input("Enter value for B: "))
print(f"""Sum of A and B is:{A+B}
Multiplication of A and B is:{A*B}
Division of A/B is:{A/B}
Square of A is:{A**2}
Square of B is:{B**2}""")

Enter value for A: 8
Enter value for B: 4
Sum of A and B is:12
Multiplication of A and B is:32
Division of A/B is:2.0
Square of A is:64
Square of B is:16

### 3) How many reserve keywords are there in python and why we should not use them as a variable name.

Ans - Following are 31 reserve keywords currently present in Python. 

We should not use them as a variable because these reserve keywords represent deafult methods/function or libraries that could be used to perform various operations during coding. If we make them as variable then they will lose their default functionality and will not perform their in-built operations there by making coding complicated and lengthy.

and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
def       for       lambda    try

#### 4) Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [42]:
fname = input("Enter your first name: ")
lname = input("Enter your last name: ")
email_service=input("Enter your email service provider");
print(f"Users email id is: {lname}.{fname}{email_service}")

Enter your first name: vaibhav
Enter your last name: chaturvedi
Enter your email service provider@gmail.com
Users email id is: chaturvedi.vaibhav@gmail.com

#### 5) Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

In [44]:
print("""Hi I'm Sunny
My address is 22\\3
I earn 20$ daily.""")

Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

#### 6) Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [47]:
full_name = input("Enter your full name: ")
address = input("Enter your full address: ")
dob = input("Enter your date of birth in dd/mm/yyyy format: ")
email_service=input("Enter your email service provider")
college = input("Enter your College Name: ")

print(f""" Students college Name is: {college}
Students full name is:{full_name}
Students date of birth is: {dob}
Students email id is: {full_name}{email_service}""")

Enter your full name: vaibhavchaturvedi
Enter your full address: J-10/14, BTM, Bangalore - 560099
Enter your date of birth in dd/mm/yyyy format: 10/10/1990
Enter your email service provider@gmail.com
Enter your College Name: AAA college of Engineering
 Students college Name is: AAA college of Engineering
Students full name is:vaibhavchaturvedi
Students date of birth is: 10/10/1990
Students email id is: vaibhavchaturvedi@gmail.com

#### 7) Convert the following -
"22.4" into integer and 
"22" into complex no.

In [49]:
A=float(input("Enter any decimal number: "))
B=int(A)
C=complex(B)
print(f"""Decimal number after conversion to integer is: {B} 
Integer number after conversion to complex number is: {C}""")

Enter any decimal number: 22.4
Decimal number after conversion to integer is: 22
Integer number after conversion to complex number is: (22+0j)